<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Todo App</title>
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
    <h1>Todo List</h1>
    <form action="/add" method="POST">
        <input type="text" name="todo" placeholder="todo">
        <button type = 'submit'>Submit</button>    
    </form>
    <ul>
        <% for(let i=0; i < items.length; i++){%>
            <li>
                <% if(items[i].completed === true){ %>
                    <span class = 'completed'><%=items[i].todo%></span>
                <%} else { %>
                    <span class = 'items'><%=items[i].todo%></span>
                <%}%>
            </li>       
        <%}%>
    </ul>
    <h3><%= incomplete%> left to do</h3>
    <script src = /js/main.js></script>
</body>
</html>